body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}
button {
  background-color: #5f9311;
  padding: 10px;
  margin-top: 4px;
  margin-top: 4px;
  color: white;
  font-weight: bold;
  border: 1px solid #5f9311;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #5f9311;
}

#delete-btn {
  background-color: white;
  color: #5f9311;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 20.5px;
}
li {
  padding-top: 10.5px;
}
li a {
  color: #5f9311;
}
